<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href = "img/weather.png">
    <link rel="stylesheet" href="./css/styles.css"></link>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Sumanth. It uses data from Mapbox.com and Darksky.net</p>
        <img class="portrait" src="img/Rick.jpg"/>
    </div>
    
    {{>footer}}
</body>
</html>